<% layout('layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">New Post</h1>
    <div class="col-6 offset-3">
        <form action="/posts" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label for="category" class="form-label">Select Post Category</label>
                <select class="form-control" id="category" name="campground[category]" required>
                    <option value="Programming Languages">Programming Languages</option>
                    <option value="Web Development">Web Development</option>
                    <option value="Mobile Development">Mobile Development</option>
                    <option value="Database Management">Database Management</option>
                    <option value="DevOps">DevOps</option>
                    <option value="Cloud Computing">Cloud Computing</option>
                    <option value="Software Architecture">Software Architecture</option>
                    <option value="Security">Security</option>
                    <option value="Algorithms">Algorithms</option>
                    <option value="Machine Learning">Machine Learning</option>
                    <option value="Open Source">Open Source</option>
                    <option value="Coding Challenges">Coding Challenges</option>
                    <option value="Paradigms">Paradigms</option>
                    <option value="Version Control">Version Control</option>
                    <option value="Agile Development">Agile Development</option>
                </select>
            </div>
            

            <!-- <div class="mb-3">
                <label class="form-label" for="image">Image Url</label>
                <input class="form-control" type="text" id="image" name="campground[image]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div> -->
          

            <div class="mb-3">
                <label class="form-label" for="description">Post Body</label>
                <textarea class="form-control" type="text" id="description" name="campground[description]"
                    required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Add Post</button>
            </div>
        </form>
        <a href="/posts" class="btn btn-success">All posts</a>
    </div>
</div>